/* Creating colors and backgrounds */

h1 {
    color:orange; /* Text color */
    background-color: rgb(255, 255, 0);
    border: medium solid #ffaa00;
    margin:auto /* Auto margin */
}

h2 {
    color:green; /* Text color */
    background-color: hsl(100, 100%, 50%);
    border: medium solid green;
}

/* Three absolute units */
p {
    color:red; /* Text color */
    text-decoration: underline; /* Text dec */
    margin: 0.25in, 0.25in, 0.25in, 0.5in; /* Short margin */
    padding: 0.25in, 0.25in, 0.25in, 0.25in; /* Short padding */
    font-size: 12pt;
    line-height: 20px;

    background-color: pink;

    /* Border */
    border-style:solid;
    border-color:red;
    border-width:medium;
    border-radius: 0.1in;

}

/* Three relative units */
h4 {
    color:blue; /* Text color */
    text-align: center; /* Text align */
    text-decoration: underline; /* Text dec */
    font-size: 2ch;
    line-height: 0.5em;

    background-color: aqua;

    /* Long margin */
    margin-left:0.5ex;
    margin-right:0.5ex;
    margin-top:5ex;
    margin-bottom:2.5ex;

    /* Long padding */
    padding-left:0.5ex;
    padding-right:0.5ex;
    padding-top:0.5ex;
    padding-bottom:0.5ex;

    /* Border */
    border-style:solid;
    border-color:blue;
    border-width:medium;
    border-radius: 5ex;

}

fieldset {
    background-color: pink;
}